*{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    background: #50546F;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 43.7838px;
    line-height: 58px;
}
.corpo{
    box-sizing: border-box;
    position: relative;
    width: 535px;
    height: 760px;
    background: #2A314E;
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    padding-top: 38px;
    padding-left: 39px;
    display: grid;
    grid-template-columns: repeat(4, 106px);
    grid-template-rows: repeat(6, 106px);
    gap: 9px;
}
.viewer{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    background: #3E445D;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 43.7838px;
    line-height: 100px;
    overflow:hidden;
    width: 20.5ch;    
}
.clear {
    padding: 33px 32px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
#divided{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
#times{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
#equals{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
    background: #9599AC;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
}
#plus{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    background: #F53360;
    border: 1px solid #C4C4C4;
    border-radius: 7px;
}
.error{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    background: #DD9AAA;
    border: 1px solid #F53360;
    border-radius: 7px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 43.7838px;
    line-height: 100px;
    overflow:hidden;
    width: 20.5ch;
}